<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  header {
    color: #F0F0F0;
    margin-bottom: 25px;
    background-color: #F04E7F;
    padding: 16px;
  }

  header h1 {
    font-size: 26px;
  }

  main {
    margin: 40px 0;
  }

  main h2 {
    color: #373435;
  }

  main p {
    text-align: justify;
    line-height: 28px;
    margin: 16px 32px;
  }

  footer {
    color: #F0F0F0;
    margin-top: 25px;
    background-color: #F04E7F;
    padding: 64px 32px;
    text-align: left;
  }

  footer strong {
    font-size: 24px;
  }

  footer p {
    margin: 40px 0;
  }

  footer span {
    font-size: 12px;
  }
</style>

<div class="message-content">
    <header>
      <h1>Seu cadastro foi aprovado!</h1>
    </header>
    <main>
      <h2>Olá, {{name}}</h2>
      <p>Parabéns, seu cadastro foi aprovado e agora já é possível realizar o login na plataforma.</p>
      <p>Basta acessar o link abaixo para começar os negócios.</p>
    </main>
    <footer>
      <strong>Equipe MARKET Leilões</strong>
      <p>
        Caso tenha alguma dúvida ou queira entrar em contato envie um e-mail para oi@marketleiloes.com.br
      </p>
      <span>
        Market Financeiro S.A. 12.345.653/0000-15<br />
        Rua: Exemplo de rua, 28 - 00155-020 - São Paulo - SP
      </span>
    </footer>
  </div>
